@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>The.Eagle.2011.Custom.DKsubs.NTSC.DVDR-ScAnBiTs</h1>
<hr />
<div class="detail-buttons">
    <ul>
        <li><a href="#" class="medium-button accept"><span>Download Torrent</span></a></li>
        <li><a href="#" class="medium-button"><span>Thank Uploader</span></a></li>
    </ul>
</div>
<div id="details-wrapper">
    <div class="content-left">
        <div class="header">
            <span>Torrent NFO</span>
        </div>
        <div class="content">
            <p>ScAnBiTs Presents</p>

            <p>TiTle: The.Eagle.2011.2011.Custom.DKsubs.NTSC.DVDR-ScAnBiTs</p>

            <p>Year : 2011</p>

            <p>iMDB : http://www.imdb.com/title/tt1034389/ </p>

            <p>RATiNG: 6.2/10  Users: (7,230 votes)</p>

            <p>BiTRATE: 5000 </p>

            <p>PASSES: 6</p>

            <p>AUDIO: DD5.1</p>

            <p>SUBS: DK</p>

            <p>Source  : The Eagle 2011 UNRATED 720p BluRay X264-AMIABLE</p>

            <p>RELEASE DATE : 11/06/11</p>

            <p>STREET DATE  : N/A</p>
        </div>
    </div>
    <div class="content-right">
        <a href="#" class="large-button">
            <img src="/Content/images/uploader-icon.png" />
            <div class="center-fix">
                <span>MrSkytte</span>
            </div>
        </a> 
        <div class="header pull-top">
            <span>Torrent Info</span>
        </div>   
        <div class="content">
            <ul>
                <li><span class="float-left">Size</span><span class="float-right">4.65 GiB</span></li>
                <li><span class="float-left">Category</span><span class="float-right">DVD5</span></li>
                <li><span class="float-left">Snatched</span><span class="float-right">3</span></li>
                <li><span class="float-left">Seeders</span><span class="float-right">8</span></li>
                <li><span class="float-left">Leechers</span><span class="float-right">53</span></li>
                <li><span class="float-left">Files</span><span class="float-right">129</span></li>
            </ul>
        </div>
         <div class="header pull-top">
            <span>Thanks Given</span>
        </div>   
        <div class="content">
            <ul>
                <li>MrSkytte</li>
                <li>Soerenn</li>
            </ul>
        </div>
    </div>
</div>
