<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="OpenTrackerDb" connectionString="metadata=res://*/OpenTrackerEntities.csdl|res://*/OpenTrackerEntities.ssdl|res://*/OpenTrackerEntities.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;database=opentracker;password=mysql&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>