@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="font-size:12px;">
<p>Tak for din tilmelding til Open-Tracker projektet.</p><br/>

<p>Vi kan nu åbne op for den første meget early-stage af projektet, nemlig en alpha version. Alpha versionen indeholder de mest fundamentale ting, der skal til for at trackeren kan operere.</p><br/>

<p>Vi udvikler løbende på sitet, og der vil derfor hele tiden komme mindre og/eller store ændringer. Der kan derfor fra den ene dag til den anden, være helt nye funktionaliteter. Hvis I er interesseret i at hjælpe med projektet ydeligere, end at komme med fejl-reports, idéer eller spørgsmål, så kan vi opfordre jer til, at komme ind på vores IRC channel.</p><br/>

<p>Alpha url: <a href="http://alpha.open-tracker.org">http://alpha.open-tracker.org</a><br/>
IRC: #opentracker &#64; irc.freenode.net<br/>
Github open source: <a href="https://github.com/soerenn/OpenTracker">https://github.com/soerenn/OpenTracker</a><br/>
</p><br/>

<p>Vi ser frem til at udvikle samen med Jer.</p><br/>

-- 
<p>Best regards / Med venlig hilsen<br/><br/>

Open-Tracker Staff // open-tracker.org</p><br/>
</div>